:root{
    --Light gray: hsl(212, 45%, 89%);
  }

body{
   background-color: hsl(212, 45%, 89%);
   font-family: 'Outfit', sans-serif;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.main-card{
    background-color: white;
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.inner-card{
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 500px;
}
.qr-code{
    border-radius: 12px;
}
.text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 12px;
}
.p1{
    color: hsl(218, 44%, 22%);
    font-weight: 600;
    font-size: 23px;
    margin: 20px 0px 0px 0px;
}
.p2{
    color: hsl(220, 15%, 55%);
    font-weight: 300;
    font-size: 16px;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}